<h1>PS1</h1>
<app-games [games]="ps1games"></app-games>
<h1>PS2 Ported to PS3</h1>
<app-games [games]="ps2gamesOnPs3"></app-games>
<h1>PS2 Ported to PS4</h1>
<app-games [games]="ps2gamesOnPs4"></app-games>
<h1>PS3 Exclusives</h1>
<app-games [games]="ps3games"></app-games>
<h1>PS3 on PS4</h1>
<app-games [games]="ps3gamesOnPs4"></app-games>
<h1>PS3 on PS5</h1>
<app-games [games]="ps3gamesOnPs5"></app-games>
<h1>PS4</h1>
<app-games [games]="ps4games"></app-games>
<h1>PS5</h1>
<app-games [games]="ps5games"></app-games>